# Test report  

## Testing performed

*This section will describe some of the test planned, and results. Every test will include the goal and will also indicate if the test passed or failed.*
*Screenshots will be include the tests with results of such testsFor some tests, it is a good idea to use screenshots of target and actual results.*
*Test 1*
*Test Description: user can login into the financial portfolio*
*Test result: pass*
*Screenshots: before/ after*





## Automatic Testing:
*Describe any JUnit tests you created. Describe what percentage of program functionality is covered by JUnit tests.*

*Highlight any functionality not covered by JUnit tests, and say how you overcame that shortfall.*

*Describe if you managed to use the continuous integration server to run tests - which tests were run, and what were the results?* 