# Test report  

## Testing performed

This section will describe some of the test planned, and results.
Every test will include the goal and will also indicate if the test passed or failed.
Screenshots will be include the tests with results of such testsFor some tests, it is a good idea to use screenshots of target and actual results.
###Test 1.
###Test Description: user can successfully login into the financial portfolio.
###Test result: Pass.
###Screenshots: before/ after.
![Screenshot](/README-Images/test1.JPG)
![Screenshot](/README-Images/test1b.JPG)

###Test 2 
###Test Description: if user inputs incorrect login details appropriate message will be made.
###Test result: Pass.
###Screenshots: before/ after
![Screenshot](/README-Images/test2.JPG)
![Screenshot](/README-Images/test2b.JPG)

###Test 3 
###Test Description: User is able to see how much a share for facebook is and is able to purchase 50 shares for FaceBook
###Test result: Pass.
###Screenshots: before/ after
![Screenshot](/README-Images/test3.JPG)
![Screenshot](/README-Images/test3b.JPG)
![Screenshot](/README-Images/test3c.JPG)
![Screenshot](/README-Images/test3d.JPG)
![Screenshot](/README-Images/test3e.JPG)

###Test 4
###Test Description: User is able to see how many shares he/she owns.
###Test result: Pass.
###Screenshots: before/after
![Screenshot](/README-Images/test4.JPG)
![Screenshot](/README-Images/test4b.JPG)

###Test 5
####Test Description: User is able to add  8 more shares to the already bought shares.
###Test result: Pass.
###Screenshots: before/after
![Screenshot](/README-Images/test5.JPG)
![Screenshot](/README-Images/test5b.JPG)
![Screenshot](/README-Images/test5c.JPG)

###Test 6 
###Test Description: User is unable to purchase more than 1000 shares  
###Test result: Fail.
###Screenshots: before/ after
![Screenshot](/README-Images/test6.JPG)
![Screenshot](/README-Images/test6b.JPG)

###Test 7 
###Test Description: User is able to view bank account and is able to withdraw £1000
###Test result: Pass.
###Screenshots: before/ after
![Screenshot](/README-Images/test7.JPG)
![Screenshot](/README-Images/test7b.JPG)
![Screenshot](/README-Images/test7c.JPG)

###Test 8 
###Test Description: User is able to view bank account and is unabled to more than it owns.
###Test result: Pass.
###Screenshots: before/ after
![Screenshot](/README-Images/test8.JPG)
![Screenshot](/README-Images/test8b.JPG)











## Automatic Testing:
*Describe any JUnit tests you created. Describe what percentage of program functionality is covered by JUnit tests.*

*Highlight any functionality not covered by JUnit tests, and say how you overcame that shortfall.*

*Describe if you managed to use the continuous integration server to run tests - which tests were run, and what were the results?* 